@using System.Runtime.CompilerServices
@using Microsoft.Extensions.AI
@using MudX

@if (IsUser)
{
    <MudXChat ChatPosition="@ChatPosition" Variant="Variant.Text" Elevation="0">
        <MudXChatHeader Time="@TimeText"/>
        <MudXChatBubble Class="max-w-2xl">
            @Message.Text
        </MudXChatBubble>
    </MudXChat>
}
else
{
    <div class="flex w-full items-start gap-3 mb-4">
        <div class="w-10 h-10 flex items-center justify-center shrink-0">
            @if (InProgress)
            {
                <MudProgressCircular Indeterminate="true" Color="Color.Primary">
                    <MudIcon Icon="@Icons.Material.Outlined.AutoAwesome" Color="Color.Primary" Size="Size.Medium"/>
                </MudProgressCircular>
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Outlined.AutoAwesome" Color="Color.Primary" Size="Size.Medium"/>
            }
        </div>
        <div class="max-w-4xl">
            <MudMarkdown Value="@Message.Text"/>
        </div>
    </div>
}

@code {
    private static readonly ConditionalWeakTable<ChatMessage, ChatMessageItem> SubscribersLookup = new();
    [Parameter, EditorRequired] public required ChatMessage Message { get; set; }

    [Parameter] public bool InProgress { get; set; }

    private bool IsUser => Message.Role == ChatRole.User;
    private string? TimeText => Message.CreatedAt?.ToLocalTime().ToString("HH:mm");
    private MudX.ChatBubblePosition ChatPosition => IsUser ? MudX.ChatBubblePosition.End : MudX.ChatBubblePosition.Start;

    protected override void OnInitialized()
    {
        SubscribersLookup.AddOrUpdate(Message, this);
    }

    public static void NotifyChanged(ChatMessage source)
    {
        if (SubscribersLookup.TryGetValue(source, out var subscriber))
        {
            subscriber.StateHasChanged();
        }
    }

}
